<footer>
    <div class="f-info">
        <div class="f-info-links">
            
            <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.pinterest.com"><i class="fa-brands fa-pinterest"></i></a>
            <a href="https://www.reddit.com"><i class="fa-brands fa-reddit"></i></a>
        </div>
        <div>&copy; Wandelust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>